body
  color: white
  background-color: #ce64df
  h1
    text-align: center
.card
  border: 2px solid black
    radius: 8px
  height: 100px
  width: 100px
  text-align: center
  line-height: 100px

  &.up
    background-color: white
    color: purple

  &.down
    background-color: black
    color: transparent

main
  flex-wrap: wrap
  display: flex
  flex-direction: row
  justify-content: space-around
